@model List<GroceryListGenerator.Recipe>

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table>
        @foreach (var m in ViewBag.Ingredients)
        {
            <tr>
                <td>@m.Name</td>
                <td> Ingredients</td>
            </tr>
            <tr>
                @foreach (var i in m.Ingredients)
                {
                    <td></td>
                    <td>@i.Name</td>
                    <td>@i.Quantity</td>
                    <td>@i.Measurement</td>
                }
            </tr>
        }

    </table>

</div>
